[submodule "odin-c-bindgen"]
	path = odin-c-bindgen
	url = https://github.com/karl-zylinski/odin-c-bindgen
[submodule "bgfx"]
    path = bgfx
    url = https://github.com/bkaradzic/bgfx
[submodule "bimg"]
    path = bimg
    url = https://github.com/bkaradzic/bimg
[submodule "bx"]
    path = bx
    url = https://github.com/bkaradzic/bx
